%div#page-info
  %span#title
    Sent
  %span#desc
    Viewing Sent Messages
%br{:style=>"clear:both"}
%h3
=paginate @messages
%div#wall
  %div.post
    -@messages.each do |user_message|
      - message = user_message.message
      %div
        %div#wall-post
          - message.recipient_users.each do |recipient|
            -if recipient.profilepic?
              %div#wall-poster-pic
                =link_to (image_tag recipient.profilepic_url(:profile_pic) ,:id => "sentprofilepic"), other_user_path(recipient.username)
            - else
              = link_to (image_tag "no-profile-pic.jpg", :id => "defaultprofilepic"), other_user_path(recipient.username)
            %span#bold
              =link_to recipient.username, other_user_path(recipient.username)
          = link_to "<button>Delete</button>".html_safe, profile_message_path(user_message), :confirm => "Are you sure?", :method => :delete
        %div#wall-post-body
          %p.time-ago
            =distance_of_time_in_words_to_now(message.created_at)
          %br
          %p
            =message.message
          %br
          = link_to "Attachment", message.attachment.url, :target => "_blank" if message.attachment.present?


        %br{:style => "clear:both"}



=paginate @messages