%div{:style => "width:700px;margin:0px auto;float:left"}
	%div.slider-wrapper.theme-default
		%div.ribbon
		%div#slider.nivoSlider
			-@banners.each do |banner|
				= link_to image_tag(banner.image_url(:slide)), banner.page_url, :target => '_blank'
		%div#htmlcaption.nivo-html-caption
