%ul#pikame

  -@featured_events.limit(6).each do |eventslide|
    -if eventslide.image?
      %li

        = image_tag eventslide.image_url(:slide)

        %span
          %p.desc
            DESCRIPTION
=render "non_featured"












