%ul#pikame

  -@featured_events.limit(6).each do |eventslide|
    -if eventslide.image?
      %li

        = image_tag eventslide.image_url(:slide)
        %br
        %span
          %strong
            %p.desc
              Put the description here!!
=render "non_featured"












