=render "special_list"
- unless @ad == nil
	%div#ads_event
		=link_to (image_tag @ad.banner_url(:banner_ad)), @ad.url
%br{:style => "clear:both"}
%div#events-pagination
%h3
	//Recently Added Events
%div#events-pagination
	=paginate @events











