/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 *= require fancybox
 *= require jquery-ui-1.8.18.custom.css
*/

$container-width: 966px;

$small-link: 12px;

@mixin rounder($side, $radius: 10px) {
	@if $side == all {
		-webkit-border-radius: $radius;
		-moz-border-radius: $radius;
		border-radius: $radius;
	}

	@if $side != all {
		border-#{$side}-radius: $radius;
		-moz-border-radius-#{$side}: $radius;
		-webkit-border-#{$side}-radius: $radius;
	}
}

@mixin wrapper-container {
	margin:0 auto;
	width: $container-width;
}

@mixin section {
	height: 50px;
}

body{
	margin:0px;
	background:url("pb/noise.png");
	font-family: verdana,'Ubuntu', arial, serif;

    #fancybox-wrap{
      z-index: 9999999;

    }
}

#top_header{
  width:100%;
  height:40px;
  background-color:#1c1c1f;
  background:-webkit-gradient(linear, left top, left bottom, from(#1c1c1f), to(#070708) );
  background:-moz-linear-gradient(-90deg, #1c1c1f, #070708);
  position:fixed;
  z-index:999999;
  top:0px;

  #wrapper{
    width:966px;
    height:40px;
    margin:0 auto;


    #sign_status{
      width:15%;
      height:30px;
      background-color:#fbdddd;
      float:right;
      border-bottom-left-radius:.4em;
      border-bottom-right-radius:.4em;

      span{
        font-size: 12px;

        a{
          color:black;
          font-weight:bold;
        }
      }
    }


    img{
      float:left;
    }
    #promote{
      font-weight:bold;
      font-size:15px;
      position:relative;
      top:14px;
      float:left;
      margin-left:5px;
      color:#ffffff;
    }
    a{
      text-decoration:none;
    }
    #tour{
      float:left;
      width:auto;
      height:20px;
      background-color:#4f4fa4;
      position:relative;
      top:12px;
      margin-left:10px;
      padding-left:15px;
      padding-right:15px;
      -webkit-border-radius:1em;
      -moz-border-radius:1em;

      a{
        color:#e7e7fe;
        text-decoration: none;
        font-size: 15px;
        position:relative;
        top:-2px;
        font-weight:bold;
      }

    }
    #login{
      float:right;

      img{
        position:relative;
        float:left;
        top:10px;
      }
      a{
        text-decoration:underline;
        font-weight:bold;
        color:black;
        position:relative;
        top:10px;
        margin-left:10px;

      }
    }
  }
}
#header{
  width:100%;
  height:78px;
  top:40px;
  position:fixed;
  z-index:99999;
  background-color:#f7e231;
  background:-webkit-gradient(linear, left top, left bottom, from(#f7e231), to(#d5c11c) );
  background:-moz-linear-gradient(-90deg, #f7e231, #d5c11c);
  -webkit-box-shadow: inset 0px 2px #f7eea8;
  -moz-box-shadow: inset 0px 2px #f7eea8;
  border-bottom:1px solid #121211;
  border-top:1px solid #121211;

  #header_wrapper{
    width:966px;
    height:inherit;
    margin:0 auto;

    #image{
      width:180px;
      height:78px;
      float:left;
      border-right:1px solid #f7eea8;
    }
    #nav{
      overflow:hidden;
      width:auto;
      height:inherit;
      float:left;


      ul{

        list-style: none;
        color: #585d24;
        margin:0;
        padding:0;

        li{
          cursor:pointer;
          float:left;
          width:auto;
          height:78px;
          padding-left:20px;
          padding-right:20px;
          border-left:1px solid #000000;
          border-right:1px solid #f7eea8;
          display:block;


          span{
            text-decoration:none;
            font-size:18px;
            font-weight:bold;
            color:black;
            position:relative;
            top:25px;
            text-shadow:0px 1px 0px #fbf3b9;
          }
          div{
            width:150px;
            height:200px;
            display: block;
            background-color:black;
            z-index:999999;
            float:left;
            position:absolute;
            margin-top:55px;
            margin-left:-21px;
            border-bottom-left-radius: .5em;
            border-bottom-right-radius: .5em;
            opacity:0;

          }
        }


        #last{
          border-right:0px;
        }
        #visited{
          background-color:#34345e;
          border-right:0px;

          a{
            text-shadow:none;
            color:#cec6ed;
          }
        }
        li:hover{
          background-color:#3f3f6f;
          border-right:1px solid #3f3f6f;

          span{
            text-shadow:none;
            color:#cec6ed;
          }

        }
      }
    }

    #profile{
      float:right;
      width:auto;
      height:78px;
      padding-left:25px;
      padding-right:25px;
      overflow:hidden;
      display:block;

      cursor:pointer;

      #profile_pic{
        width:30px;
        height:30px;
        overflow:hidden;
        background-color:#57322f;
        position:relative;
        float:left;
        top:22px;

        img{
          width:30px;
        }
      }
      a{
        color:black;

        span{
          float:left;
          top:28px;
          position:relative;
          margin-left:10px;
          font-weight:bold;
          cursor:pointer;


        }
      }

    }
    #profile:hover{
      background-color:#3f3f6f;

      span{
        color:#d0b7ea;
      }

    }
    button.signup{
      float:right;
      display:block;
      width:100px;
      height:40px;
      background-color:#6a6cb5;
      background:-webkit-gradient(linear, left top, left bottom, from(#6a6cb5), to(#414382) );
      background:-moz-linear-gradient(-90deg, #6a6cb5, #414382);
      font-weight:bold;
      color:white;
      font-size:13px;
      position:relative;
      top:14px;
      border:none;
      -webkit-border-radius:.5em;
      -moz-border-radius:.5em;
      cursor:pointer;

    }
    button.signup:hover{
      background-color:#3a3c82;
      background:-webkit-gradient(linear, left top, left bottom, from(#3a3c82), to(#414382) );
      background:-moz-linear-gradient(-90deg, #3a3c82, #414382);
    }

  }
}

#page-info {
	background: url("pb/tabs-divider.png") repeat-x bottom center;
	height:120px;
	#title {
		display: block;
		float: left;
		font-size: 30px;
		line-height: 103px;
		margin-left: 30px;
		text-shadow: 1px 1px rgba(255, 255, 255, 1);
		color: #51565B;
	}
	#desc {
		display: block;
		float: left;
		margin-left: 30px;
		font-size: 14px;
		margin-top: 4px;
		line-height: 103px;
		color: #929191;
		font-style: italic;
		text-shadow: 1px 1px rgba(255, 255, 255, 1);
	}
}

div#each{
	float:left;
	padding-right:12px;
	margin-top:20px;
	.thumbnail-wrapper {
		width:200px;
		height:114px;
		position:relative;
		p.item-description {
			font-size: 10px;
			margin-top: 1px;
		}
		.item-title-wrapper {
			position:absolute;
			bottom:0;
			width:100%;
			vertical-align:baseline;
			p.item-title {
				border: 1px solid #999;
				padding: 5px 0px 5px 7px;
				background: #333;
				color: white;
				width: 191px;
				font-size: 11px;
				display: block;
				margin-bottom: 0px;
			}
		}
	}
}

#wrapper {
  margin-top:130px;

	#container {
		@include wrapper-container;
		.ads {
			float:right;
		}
		#flash {
			width:100%;
			margin-top:20px;
			span {
				padding:5px;
			}
				.alert {
					color: #ff9999;
				}
				.notice {
					color: #99DD99;
				}
		}
	}
	#twitter-wrapper {
		margin-top: 50px;
		background: #f2f1f1;
		height: 80px;
		width: 100%;
		background: #f2f1f1 url(pb/twitter-border.png) repeat-x;	

		#twitter-container {
			width:966px;
			margin: 0 auto;

			#tweets {
				font-size: 16px;
				line-height: 1.5em;
				font-style: italic;
				color: #838383;

				a{
					text-decoration: none;
					color: #CCC;
				}

				width:600px;
				float:left;
				height: 77px;
				position:relative;
				ul {
					li {
						list-style-type:none;

					}
				}
			}

			#left-anchor {
				width: 30px;
				background: transparent url(pb/prev-arrow.png) no-repeat top left;
				float:left;
				height: 77px;
				position:relative;
				top:20px;
			}
		
			#twitter-logo {
				width: 89px;
				background: transparent url(pb/bird.png) no-repeat top left;
				float:left;
				height: 77px;
			}

			#right-anchor {
				width: 30px;
				background: transparent url(pb/next-arrow.png) no-repeat top left;
				float:right;
				height: 77px;
				position:relative;
				top:20px;
			}
		}
	}
	#footer {
		background:#2a2d30;
		color: #ffffff;
		height:338px;
		#inside_footer {
			@include wrapper-container;

			#panels {
				#links {
					h2 {
						color: #d7d7d7;
						margin-top:30px;
						margin-bottom:20px;
						line-height:1.4em;
						font-weight:lighter;
						font-size:20px;
					}
					float:left;
					width:48%;
					ul.link {
						padding:0px;
						display:block;
						list-style:none;
						li.item {
							line-height:1.7em;
							padding-left:17px;
							border-bottom: 1px solid #000000;
							border-top:1px solid #4a4a4a;
							background: url(pb/footer-bullet.png) no-repeat 0px 10px;
							a {
								font-size:12px;
								text-decoration:none;
								color: #bbbaba;
							}
						}
					}
				}
				#welikeyou {
					h2 {
						color: #d7d7d7;
						margin-top:30px;
						margin-bottom:20px;
						line-height:1.4em;
						font-weight:lighter;
						font-size:20px;
					}
					float:right;
					width:48%;
				}
			}
		}
	}
}
#footer2{
  width:100%;
  height:80px;
  background-color:#202021;
  margin:0 auto;

  float:left;

  ul{
    padding:0;
    list-style:none;
    margin:0 auto;
    color:#f3f3f3;
    font-size:13px;
    position:relative;
    top:15px;

    li{
      display:inline;

      a{
        color:#9889c9;
        text-decoration:none;
      }
      a:hover{
        text-decoration:underline;
      }
    }
  }
  p{
    position:relative;
    top:10px;
    font-size:13px;
    color:#e4dff4;
  }
}


input{
  -moz-border-radius: 8px;
  -moz-transition: background 1.2s ease-in;
  -ms-transition: background 1.2s ease-in;
  -o-transition: background 1.2s ease-in;
  -webkit-border-radius: 8px;
  -webkit-box-shadow: #6E7849 0 0 10px;
  -webkit-transition: background 1.2s ease-in;
  background-color: #aaaaaa;
  background-image: -moz-linear-gradient(90deg, #000000, #aaaaaa);
  background-image: -ms-linear-gradient(90deg, #000000, #aaaaaa);
  background-image: -o-linear-gradient(90deg, #000000, #aaaaaa);
  background-image: -webkit-linear-gradient(90deg, #000000, #aaaaaa);
  background-image: linear-gradient(90deg, #000000, #aaaaaa);
  border-radius: 8px;
  border: 1px solid #000000;
  color: #ffffff;
  display: inline-block;
  margin: 0px 0px 10px 0px;
  padding: 0px 8px 8px 8px;
  text-decoration: none;
}
select{
  margin: 0px 0px 10px 0px;
  padding: 0px 8px 8px 8px;

}

p.time-ago {
	font-style:italic;
	color: #00bbbb;
	font-size:10px
}
a {
	text-decoration:none;
}
.myPeekButton {
  border-radius: 0px;
	background: url(myPeekButton.png) no-repeat center top;
	width: 72px;
	height:21px;
}
.unPeekButton {
  border-radius: 0px;
	background: url(unPeekButton.png) no-repeat center top;
	width: 72px;
	height:21px;
}

textarea {
	width: 285px;
	height: 130px;
  margin: 0px 0px 10px 0px;
  padding: 0px 8px 8px 8px;
}
