// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Style the thumbnails */
.pika-thumbs{
  padding: 0 16px;
  height: 75px;
  position:relative;
  right:2%;
  width:80%;


  li{
    width: 180px;
    height:140px;
    margin: 10px 0 0 17px;
    padding: 0;
    overflow: hidden;
    float:left;
    position:relative;
    list-style-type: none;
    padding: 2px 2px 2px; margin: 5px 5px;
    border: 10px solid #fff; cursor: pointer;
    background:#f6f6f6 ;


    .clip {position:relative;
           height:100%;
           text-align: center;
           vertical-align: center;
           overflow: hidden;}

  }

  li:last {
    margin: 0;
  }


}

.pika-thumbs2{
  padding: 0 16px;
  height: 75px;
  position:relative;
  right:2%;
  width:80%;
  display:block;


  li{
    width: 160px;
    height:140px;
    margin: 10px 0 0 17px;
    padding: 0;
    overflow: hidden;
    float:left;
    position:relative;
    list-style-type: none;
    padding: 2px 2px 2px; margin: 5px 5px;
    border: 10px solid #1c1c1f; cursor: pointer;
    background:#1c1c1f ;



    .clip {position:relative;
           height:100%;
           text-align: center;
           vertical-align: center;
           overflow: hidden;
    }

  }

  li:last {
    margin: 0;
  }


}

#overlay {
  background-color:#000;
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:160px;
  height:140px;
  z-index:1;
}

#hover {
  width:160px;
  display:block;
  height:140px;
  position:absolute;
  z-index:3;
  padding:25px;
}
#hover p {
  color:#fff;
  font-weight:normal;
}


/* The stage is the wrapper. The image fills 100% the height of the stage */
.pika-stage {
  position:relative;
  width:966px;
  background: transparent;
  text-align:left;
  height:300px;
  margin-top:-35px;



  .pika-textnav {
    width:100%;


  }
  img{
    min-width:966px;
    overflow-wrap: hidden;
    height:300px;
    width:966px;
    border-bottom-left-radius: .6em;
    border-bottom-right-radius: .6em;
    box-shadow: 1px 2px 10px #666;

  }
  .caption {
    position: relative;

    font-size: 12px;
    color: #fff;
    padding: 10px;
    text-align: left;
    margin-top:-180px;
    width:300px;
    height:130px;
    font-weight: bold;
    overflow:hidden;

    p.desc{
      color:blue;
      font-size: 16px;
      margin-left:20px;
      font-weight: normal;
    }

    h2.events_title{
      color:yellow;
      margin-left:20px;
      font-weight: bold;

    }

  }

}

/* Ths play, pause, prev and next buttons */
.pika-imgnav a {
  position: absolute;
  text-indent: -5000px;
  display: block;z-index:3;}

.pika-stage .pika-aniwrap{position: absolute; top: 0px; left: 0px;}

.pika-imgnav a.previous {
  background: url(events/previous.png) no-repeat left 45%;
  height: 100%;
  width: 50px;
  top: -10px; left:
  -10px;cursor:pointer;
}
.pika-imgnav a.next {
  background: url(events/nextarrow.png) no-repeat right 45%;
  height: 100%;
  width: 50px;
  top: -10px;
  right: -10px;
  cursor:pointer;
}
.pika-imgnav a.play {
  background: url("") no-repeat 0% 50%;
  height: 100px;
  width: 44px;
  top:0;
  left:50%;
  display: none;
  cursor:pointer;
}
.pika-imgnav a.pause {
  background: url("") no-repeat 0% 50%;
  height: 100px;
  width: 44px;
  top:0;
  left:50%;
  display:none;
  cursor:pointer;
}

/* Hide counter */
.pika-counter{
  display: none;
}

/* If using user thumbnails there's a pause well the new large image loads. This is the loader for that */
.pika-loader{
  background:url(events/loading.gif) 3px 3px no-repeat #000;
  background-color:rgba(0,0,0,0.9);
  color:white;
  width:60px;
  font-size:11px;
  padding:5px 3px;
  text-align:right;
  position:absolute;
  top:15px;
  right:15px; }

ul#pikame{

  li{
    width:160px;

  }

  li.active{
    width: 160px;

  }
}
div#title-wrapper{
  background:#fff;
  width:300px;
  height:40px;
  top:-390%;
  position: absolute;
  margin-left:3px;
  text-align: right;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;

  h1{
    margin-top:1%;

  }



}

div.title-strip{
  background:#000;
  color:#fff;
  font-size:11px;
  text-transform: uppercase;
  border:1px solid #1c1c1f;
  text-align: center;
  width: 100%;
  position: absolute;
  top:87%;

}

/* For non featured */
div.title-strip2{
  background:#000;
  color:#fff;
  font-size:11px;
  text-transform: uppercase;
  border:1px solid #1c1c1f;
  text-align: center;
  width: 160px;
  position: absolute;
  top:88%;
  left:1%;


}

/* Read more link */
#read-more{
  font-style: italic;
  font-size:12px;
  color: yellow;

}

#read-more2{
  font-style: italic;
  font-size:12px;
  color: yellow;
  position: absolute;

}

div#ads_event{
  position:absolute;
  right:13%;
  bottom:-39%;

}
.contenthover, .contenthover h3, contenthover a {
  color:#fff;
}
.contenthover h3, .contenthover p {
  margin:0 0 10px 0; line-height:1.4em; padding:0;font-size:12px;
}
.contenthover a.mybutton {
  display:block; float:left; padding:5px 10px; background:#3c9632; color:#fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.contenthover a.mybutton:hover {
  background:#34742d
}

.pagination{


  .first{
    background:#fff;
    box-shadow:4px 4px 4px #000;

  }

  .last{
    background:#fff;
    box-shadow:4px 4px 4px #000;
  }

}