#footer2
  %center
    %ul
      %li
        %a{:href => "#"}> About the Company
        \  | 
      %li
        %a{:href => "#"}> Help & FAQ
        \  | 
      %li
        %a{:href => "#"}> Contact Us
        \  | 
      %li
        %a{:href => "#"}> Advertise
        \  | 
      %li
        %a{:href => "#"}> Terms of Service & Privacy
        \  | 
      %li
        %a{:href => "#"}> Developers
        \  | 
      %li
        %a{:href => "#"} Careers
  %center
    %p Copyright 2012. Peekbox TV All Rights Reserved.